<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "es">
<head>
    <meta charset = "UTF-8">
    <title>Gestión de tareas</title>
</head>
<body>
    <h1>Tareas</h1>

    <h2>Agregar tarea: </h2>
    <form action = "/tasks/add" method = "post">
        <input type = "text" id = "title" name = "title" required>
        <br>
        <label for = "description">Descripcion: </label>
        <input type = "text" id = "description" name = "description" required>
        <br>
        <button type = "submit">Agregar tarea</button>
    </form>

    <h2>Lista de Tareas</h2>
    <ul>
        <li th:each = "task : ${tasks}">
            <span th:text = "${task.title}"></span>: <span th:text = "${task.description}"></span>
        </li>
    </ul>

</body>
</html>